/* Call to Action Section */
.cta-section-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--off-black);
  color: var(--stone);
  text-align: center;
  padding: 2rem;
}

.cta-section-red h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Info Section */
.info-section-redlight {
  color: var(--stone);
  background-image: url("/src/assets/images/backgrounds/ice-red-1.png");
  background-size: cover;
  padding: 1.5rem 3rem 3rem 3rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-section-redlight h6 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Benefits Section */
.benefit-section-red {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 0;
  background-color: var(--off-black);
  color: var(--stone);
}
.benefit-section-red .benefit-image {
  flex: 1;
}
.benefit-section-red .benefit-image img {
  width: 70%;
  height: auto;
  padding: 4rem;
}
.benefit-section-red .benefit-content {
  flex: 1;
}
.benefit-section-red.reverse {
  flex-direction: row-reverse;
}
.text-left-red {
  padding-right: 4rem;
  min-height: 80vh;
}
.text-right-red {
  padding-left: 4rem;
  min-height: 80vh;
}
.custom-icon-list {
  font-size: 1.25rem;
}
.custom-icon-list {
  list-style: none; /* Removes default bullets */
  padding: 0 2rem;
  margin: 0;
}

.custom-icon-list li {
  position: relative;
  padding-left: 2rem; /* Space for the custom icon */
  margin-bottom: 0.7rem;
  line-height: 1.5;
}

/* Custom icon */
.custom-icon-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url("../../assets/icons/hexa-icon-stone.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* What to Expect Section */
.expect-section-red {
  position: relative;
  padding: 4rem 2rem;
  text-align: center;
  background-image: url("/src/assets/images/backgrounds/ice-red-2.png");
  background-size: cover;
  color: var(--stone);
}
.expect-section-red h2 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

/* First time section */

.first-time-section-red {
  background-color: var(--off-black);
  color: var(--stone);
  padding: 3rem;
  text-align: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-time-section-red p {
  font-size: 20px;
  padding: 0 20rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */

/* Mobile */
@media (max-width: 1024px) {
  .benefit-section-red > .benefit-content-red {
    width: 50%;
  }
  .cta-section-red h4 {
    font-size: 1.5rem;
  }
  .cta-section-red h1 {
    font-size: 2.5rem;
  }

  .benefit-section-red {
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
  }
  .benefit-content-red {
    order: 2;
  }
  .custom-icon-list {
    font-size: 1rem;
  }
  .custom-icon-list li::before {
    width: 1.5rem;
    height: 1.5rem;
  }

  .expect-section-red {
    background-image: url("/src/assets/images/backgrounds/ice-red-2-vertical.png");
  }

  .first-time-section-red > * {
    width: 100%;
  }
  .first-time-section-red p {
    font-size: 16px;
    padding: 0 5rem;
  }
}
