/* General styling for Redlight Page */
.treatment-page {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
}

/* Call to Action Section (Mobile-First) */
.cta-section-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--off-black);
  color: var(--stone);
  padding: 2rem;
  text-align: center;
}

.cta-section-red h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cta-section-red h1 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Info Section */
.info-section-bg-red {
  background-image: url("/src/assets/images/backgrounds/ice-red.webp");
}

.info-section-redlight h6 {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  width: 50%;
}

/* Benefits Section (Mobile-First) */
.benefit-section-bg-red {
  background-color: var(--off-black);
}

.benefit-image {
  width: 100%; /* Full width on mobile */
  max-width: 90%; /* Slightly reduced for padding effect */
  margin-bottom: 1rem;
}

.benefit-image img {
  width: 100%;
  height: auto;
}

.benefit-content-red h3 {
  font-size: 1.5rem;
  color: var(--stone);
  margin: 1rem 0;
  padding: 1.2rem 0;
}

.custom-icon-list {
  list-style: none; /* Removes default bullets */
  padding: 0 1.5rem;
  margin: 0;
  font-size: 1rem;
}

.custom-icon-list li {
  position: relative;
  padding-left: 1.5rem; /* Space for custom icon */
  margin-bottom: 0.7rem;
  line-height: 1.5;
  color: var(--stone);
}

.custom-icon-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../assets/icons/hexa-icon-stone.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* What to Expect Section */
.expect-section-red-bg {
  background-image: url("/src/assets/images/backgrounds/ice-red-vertical.webp");
  background-size: cover;
}

.expect-section-red h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* First Time Section */
.first-time-section-red-bg {
  background-color: var(--off-black);
  color: var(--stone);
}

/* Learn More Section */
.learn-more-section {
  background-color: var(--stone);
  color: var(--off-black);
  padding: 2rem 1rem;
  min-height: 60vh;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.video-grid iframe {
  width: 100%;
  height: auto;
}

/* Desktop and Tablet (min-width: 1024px) */
@media (min-width: 1024px) {
  .cta-section-red h1 {
    font-size: 3rem;
  }

  .benefit-section-red {
    flex-direction: row;
    padding: 0 4rem;
    text-align: left;
  }

  .benefit-image {
    flex: 1;
    max-width: 50%;
  }

  .benefit-content-red {
    flex: 1;
    padding: 0 2rem;
  }

  .expect-steps {
    padding: 0 15rem;
  }
  
  
  .learn-more-section {
    padding: 3rem 2rem;
  }

  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
