/* General styling for the AboutPage */
.about-page {
  width: 100%;
  padding-top: 2rem;
}

/* Section styling */
.section {
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Section 1: Centered header */
.header-section {
  background-image: url("/src/assets/images/backgrounds/ice-isolated-3.png");
  background-size: cover;
  min-height: 60dvh;
  padding: 0;
}
.header-section h1 {
  font-size: 2.5rem;
  color: var(--verdigris);
  margin: 0;
  margin-bottom: 5rem;
}

/* Section 2: Founders' Note */
.founder-note {
  text-align: left;
  padding: 2rem 4rem;
  background-color: var(--stone);
  color: var(--off-black);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.founder-note h2 {
  font-size: 2rem;
  color: var(--verdigris);
  text-align: left;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.founder-note p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.founders-note-content {
  display: flex;
  gap: 2rem;
}
.note-content {
  width: 50%;
  padding-right: 1rem;
}
.founders-img {
  width: 50%;
}
.founders-img img {
  width: 550px;
  opacity: 0.8;
  margin-top: 1rem;
}

/* Responsive Design */

/* Mobile and Tablets (max-width: 768px) */
@media (max-width: 768px) {
  .header-section {
    background-image: url("/src/assets/images/backgrounds/ice-isolated-vertical.png");
    background-size: cover;
    padding: 2rem 3rem 0 3rem;
    margin-bottom: 0;
    min-height: 60dvh;
  }
  .founder-note h2 {
    text-align: center;
  }
  .founders-note-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align content */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove padding */
  }
  .note-content {
    width: 100%;
  }
  .founders-img {
    width: 100%; /* Ensure the container spans the full width */
    margin: 0; /* Remove margins */
    padding: 0; /* Remove padding */
  }
  .founders-img img {
    width: 100%; /* Make the image span the full width of the container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove inline-block spacing issues */
    margin: 0 0 2rem 0;
    padding: 0;
  }
  
}
