/* General styling for About Us page */
.about-page {
  width: 100%;
  padding-top: 2rem;
}

/* Section styling */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  min-height: 100vh;
  position: relative;
}

/* Alternating sections - Image on the right */
.about-content-section {
  width: 40%;
  padding: 2rem;
  position: relative;
}

/* Image styling */
.about-image {
  width: 40%;
  padding: 2rem;
}

.about-image img {
  width: 80%;
  height: 400px;
  object-fit: cover;
}

/* Fade-in effect using keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-background {
  animation: fadeIn 1.2s ease-out forwards; /* Automatically triggers fade on page load */
}

/* Founder's Note */
.founder-section .full-width-section {
  width: 80%; /* Takes up both the content and image area */
  padding: 3rem;
  position: relative;
}

/* Border line on the top of the Founder's Note section */
.founder-section .full-width-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: var(--off-black);
  animation: growBorder 15s ease forwards; /* Animation to grow border */
}

/* Keyframe to grow the border from center outwards */
@keyframes growBorder {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/* Justify text */
.full-width-section p {
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 2rem;
  }

  .content-section,
  .about-image,
  .full-width-section {
    width: 100%;
    padding: 1rem;
  }

  .about-image img {
    height: auto;
  }
}
