/* Header container for logo */
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 100; /* Ensure it’s on top of all content */
  background-color: transparent; /* Optional: Add color if needed */
  box-sizing: border-box;
  pointer-events: none; /* Avoid interference with clicks (just a test, remove later) */
}

/* Ensure the logo can still be clicked */
.logo-link {
  pointer-events: all;
  text-decoration: none;
}

.logo {
  height: 60px;
  width: auto;
  cursor: pointer;
  padding: 1rem;
}


.logo-white {
  filter: invert(100%); /* White */
}

/* Mobile and Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  .header {
    justify-content: center;
  }

  .logo {
    height: 60px;
    width: auto;
    padding-top: 1rem;
  }
}

/* Large Screens (min-width: 1800px) */
@media (min-width: 1800px) {
  .logo {
    height: 50px;
    width: auto;
  }
}
