.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  background-color: #ffffff; /* Optional: white background */
}

.spinner {
  border: 4px solid rgba(111, 186, 188, 0.3); /* Lightened border */
  border-top: 4px solid var(--verdigris); /* The main spinner color */
  border-radius: 50%;
  width: 40px; /* Spinner width */
  height: 40px; /* Spinner height */
  animation: spin 1s linear infinite; /* Smooth spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
