/* Font Faces */
@font-face {
  font-family: "CringeSans Black";
  src: url("/src/assets/fonts/BNCringeSansBlack.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansBlack.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Black.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Bold";
  src: url("/src/assets/fonts/BNCringeSansBold.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansBold.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Light";
  src: url("/src/assets/fonts/BNCringeSansLight.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansLight.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Medium";
  src: url("/src/assets/fonts/BNCringeSansMedium.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansMedium.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Regular";
  src: url("/src/assets/fonts/BNCringeSansRegular.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansRegular.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Regular.otf") format("opentype");
}


/* Colors */
:root {
  --verdigris: #6fbabc;
  --azure: #3f81c3;
  --stone: #eaeaea;
  --white: #ffffff;
  --off-black: #222221;
  --red-light: #e52d20;
}

/* General Styles */
html,
body {
  font-family: "CringeSans Regular", sans-serif;
  color: var(--off-black);
  font-size: 16px; /* Base font size for easy scaling */
  line-height: 1.6;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: -0.4px;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.3;
}

h3 {
  font-size: 2rem;
  line-height: 1.4;
}

h4,
h5 {
  line-height: 1.4;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
  font-family: "CringeSans Black", sans-serif;
}

h6 {
  font-size: 1.25rem;
  font-family: "CringeSans Bold", sans-serif;
}

.headline-highlight {
  color: var(--stone);
  background-color: var(--off-black);
  padding: 0.1em;
  border-radius: 4px;
}

/* Paragraphs */
p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  text-align: justify;
}

/* Lists */
ul,
ol {
  font-family: "CringeSans Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: justify;
}

li {
  margin-bottom: 0.5rem;
}

/* Links */
a {
  font-family: "CringeSans Light", sans-serif;
  color: var(--off-black);
  text-decoration: underline;
  transition: color 0.3s ease, text-underline-offset 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: var(--verdigris);
  text-underline-offset: 0.25em;
}

/* Global Responsive Media Queries */

/* Smartphones and Tablets Portrait */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
    text-align: center; /* Center headlines */
  }

  h2 {
    font-size: 2rem;
    text-align: center; /* Center headlines */
  }

  h3 {
    font-size: 1.75rem;
    text-align: center; /* Center headlines */
  }

  p {
    padding: 0 1rem; /* Add padding for better readability on mobile */
  }

  ul, ol {
    padding-left: 1rem; /* Ensure list items fit on small screens */
  }
}

/* Large Screens (min-width: 1800px) */
@media (min-width: 1800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  body {
    font-size: 18px; /* Increase base font size for large screens */
  }

  p,
  ul,
  ol {
    font-size: 1.1rem;
  }
}
