/* Font Faces */
@font-face {
  font-family: "CringeSans Black";
  src: url("/src/assets/fonts/BNCringeSansBlack.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansBlack.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Black.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Bold";
  src: url("/src/assets/fonts/BNCringeSansBold.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansBold.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Light";
  src: url("/src/assets/fonts/BNCringeSansLight.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansLight.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Medium";
  src: url("/src/assets/fonts/BNCringeSansMedium.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansMedium.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "CringeSans Regular";
  src: url("/src/assets/fonts/BNCringeSansRegular.woff2") format("woff2"),
    url("/src/assets/fonts/BNCringeSansRegular.woff") format("woff"),
    url("/src/assets/fonts/BNCringeSans-Regular.otf") format("opentype");
}


/* General Styles */
body {
  font-family: "CringeSans Regular", sans-serif;
  color: #222221; /* Off-black from the brand */
  font-size: 16px; /* Base font size for easy scaling */
  line-height: 1.6; /* Improve readability */
}

/* Headings */
h1 {
  font-family: "CringeSans Regular", sans-serif;
  font-size: 3rem; /* Large for main titles */
  text-transform: uppercase; /* All caps as per guideline */
  color: #e52d20; /* Red Light color */
  line-height: 1.2;
}

h2 {
  font-family: "CringeSans Regular", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #3f81c3; /* Azure color */
  line-height: 1.3;
}

h3,
h4,
h5 {
  font-family: "CringeSans Black", sans-serif; /* Consistent bold style for subheadings */
  text-transform: uppercase;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

/* Paragraphs */
p {
  font-family: "CringeSans Regular", sans-serif;
  font-size: 1rem; /* Matches the body font size */
  color: #222221; /* Off-black for easy reading */
  margin-bottom: 1.2rem; /* Space between paragraphs */
}

/* Lists */
ul,
ol {
  font-family: "CringeSans Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem; /* Space between list items */
}

/* Links */
a {
  font-family: "CringeSans Black", sans-serif;
  color: #3f81c3; /* Azure color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}
