html {
  scroll-behavior: smooth;
}

section {
  padding: 3rem 15rem;
  min-height: 100dvh; /* Each section takes up the full viewport */
  min-width: 100dvh; /* Each section takes up the full viewport */
}

.content-section {
  width: 40%;
  padding: 2rem;
  position: relative; /* Needed for absolute positioning of the border */
}

.content-section::before {
  content: "";
  position: absolute;
  height: 0;
  width: 1px;
  background-color: var(--off-black);
  animation: slideDown 7s ease forwards;
}

.content-section-left::before {
  bottom: 0;
  left: 0;
}

.content-section-right::before {
  top: 0;
  right: 0;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

/* LANDING SECTION */

#landing-section {
  position: relative;
  padding: 3rem 15rem;
}

/* BACKGROUND VIDEO */

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fit;
  z-index: -1; /* Places the video behind other content */
  transform: scale(1);
  max-width: 100%;
  height: auto;
}

#landing-section {
  position: relative;
  z-index: 1; /* Ensures the content stays above the video */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#landing-section h1 {
  font-size: 4rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
#landing-section h6 {
  align-items: right;
  text-align: right;
}

#landing-redlight {
  display: inline-block;
  text-align: right;
  padding-right: 0;
  margin-left: 32rem;
  line-height: 5rem;
}

/* ICE BATH SECTION */

#icebath-section {
  background-color: var(--white);
  background-image: url("/src/assets/images/backgrounds/ice-isolated-2.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  padding: 0;
}

#icebath-content-section::before {
  background-color: var(--off-black);
  animation: slideDown 8s ease forwards;
}

/* RED LIGHT SECTION */
#redlight-section {
  background-color: #03000b;
  color: var(--stone);
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  padding: 0;
}

#redlight-content-section::before {
  background-color: var(--stone);
  animation: slideDown 13s ease forwards;
}

#redlight-image {
  padding-left: 0;
  margin-left: 0;
}

#redlight-image-mobile {
  display: none;
}

/* MORE SECTION */
#more-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  padding: 2rem;
  text-align: center;
}

.instagram-feed {
  width: 70%;
}

/* Responsive Design */

/* Mobile and Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  #background-video {
    display: none;
  }
  #landing-section {
    background-image: url("/src/assets/images/backgrounds/ice-white-2.png");
    background-size: 90%;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    min-height: auto;
    text-align: center;
  }

  /* Landing Section */

  #landing-headings {
    padding: 4rem 0 2rem 0;
  }

  #landing-section > div > h1 {
    font-size: 3.1rem; /* Adjust font size for smaller screens */
    line-height: 1;
    text-align: left;
    margin: 1rem 0;
    padding: 1rem 0;
  }

  #location-landing {
    padding-bottom: 1rem;
  }

  #landing-section h6 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  #location-br {
    display: none;
  }

  /* Ice Bath and Red Light Section */
  #icebath-section,
  #redlight-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 1rem 1rem;
  }

  #icebath-section {
    background-image: url("/src/assets/images/backgrounds/ice-isolated-2.1.png");
    background-size: 55%;
  }

  .content-section {
    width: 25%;
    max-width: 25%;
  }

  .content-section > header > h1 {
    font-size: 2rem; /* Smaller font size for mobile */
    text-align: left;
  }

  .content-section > div > h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .content-section article p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 1rem 1rem 0;
  }

  /* Image styling */
  #redlight-image {
    display: none;
  }

  #redlight-image-mobile {
    display: inline-block;
  }
  #redlight-image-mobile img {
    width: 500px;
    height: auto;
    max-width: 100%;
  }

  /* More Section */
  #more-section {
    background-color: var(--stone);
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .instagram-feed {
    width: 25%; /* Adjust the Instagram feed width for mobile */
    max-width: 25%;
    margin: 0 auto;
  }
}
