html {
  scroll-behavior: smooth;
}

/* BACKGROUND VIDEO */

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: fit;
  z-index: -1; /* Places the video behind other content */
  transform: scale(1);
  max-width: 100%;
  min-height: 100%;
}

/* LANDING SECTION */

.landing-section {
  z-index: 1; /* Ensures the content stays above the video */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  padding-top: 3rem;
}
.landing-section-content img {
  height: 500px;
}
.landing-section-content h5 {
  text-align: center;
}

/* MOTTO */
#motto {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--stone);
  padding: 0 10rem;
}
#motto h2 {
  line-height: 3.5rem;
  font-style: italic;
}

/* MORE SECTION */
#more-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  padding: 2rem;
  text-align: center;
  background-color: var(--off-black);
}

.instagram-feed {
  width: 70%;
}

/* Responsive Design */

/* Mobile and Tablets (max-width: 1024px) */
@media (max-width: 1024px) {
  #background-video {
    display: none;
  }

  /* Landing Section */
  .landing-section {
    background-image: url("/src/assets/images/backgrounds/ice-isolated-1.png");
    background-size: 180%;
    justify-content: center;
  }
  .landing-section-content img {
    height: 250px;
  }
  .landing-section-content h5 {
    font-size: 1.2rem;
  }

  /* Ice Bath and Red Light Section */
  #icebath-section,
  #redlight-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 1rem 1rem;
  }

  #icebath-section {
    background-image: url("/src/assets/images/backgrounds/ice-isolated-2.1.png");
    background-size: 55%;
  }

  .content-section {
    width: 25%;
    max-width: 25%;
  }

  .content-section > header > h1 {
    font-size: 2rem; /* Smaller font size for mobile */
    text-align: left;
  }

  .content-section > div > h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .content-section article p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 1rem 1rem 0;
  }

  /* Image styling */
  #redlight-image {
    display: none;
  }

  #redlight-image-mobile {
    display: inline-block;
  }
  #redlight-image-mobile img {
    width: 500px;
    height: auto;
    max-width: 100%;
  }

  /* More Section */
  #more-section {
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .instagram-feed {
    width: 25%; /* Adjust the Instagram feed width for mobile */
    max-width: 25%;
    margin: 0 auto;
  }
}

/* Large Screens (min-width: 1800px) */
@media (min-width: 1280px) {
  #background-video {
    transform: scale(1.2);
  }
}