html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* MOBILE STYLES */

/* Background Image for Mobile */
.landing-background-mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-bottom: 0;
}

/* Hide Background Video by Default (Mobile) */
#background-video {
  display: none;
}

/* LANDING SECTION */
.landing-section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding-bottom: 3rem;
}
.landing-section-content {
  z-index: 1;
}
.landing-section-content img {
  height: 250px;
}
.landing-section-content h5 {
  font-size: 1.2rem;
  text-align: center;
}

/* MOTTO */
#motto {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/src/assets/images/backgrounds/ice-isolated-vertical.png");
  background-size: 130%;
  background-color: var(--verdigris);
  padding: 0;
  margin: 0;
}
#motto p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--stone);
  padding: 1rem 6rem;
  text-align: center;
}
#br-motto {
  display: none;
}

/* SERVICES */
.service-overlay {
  display: none;
}
#our-services {
  text-align: center;
  padding-top: 3rem;
}
.p-services {
  padding: 0 2rem;
}
.image-transparency {
  opacity: 0.5;
}

.no-booking-section {
  background-image: url("/src/assets/images/backgrounds/ice-white.webp");
  background-size: cover;
  color: var(--off-black);
  padding: 0;
  text-align: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-booking-section h5 {
  padding: 0;
  width: 70%;
  font-size: 2rem;
}

/* IG and Maps Sections */
#ig-section,
.maps-section {
  width: 100%;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--off-black);
}
.benefit-content-landing {
  order: 2;
  padding: 0 5rem;
}
#ig-section > h4 {
  padding: 2rem 2rem 0 2rem;
  width: 50%;
  font-size: 1.2rem;
  color: var(--stone);
  margin-bottom: 0;
}
#ig-section > h4 > a {
  color: var(--stone);
}
#ig-section > h4 > a:hover {
  color: var(--verdigris);
}

.maps-section p {
  padding: 2rem 0;
  margin-top: 0;
  width: 80%;
  font-size: 1.2rem;
  color: var(--stone);
  text-align: center;
}

.map {
  filter: grayscale(50%);
}

/* DESKTOP AND LARGER SCREENS (min-width: 1025px) */
@media (min-width: 1025px) {
  /* Show Background Video, Hide Background Image */
  .fallback-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; /* Below the video */
  }
  .video-wrapper {
    display: block;
    position: absolute; /* Fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }

  #background-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the viewport */
  }

  .landing-background-mobile {
    display: none;
  }

  /* Adjust Landing Section */
  .landing-section {
    background: none;
    padding-top: 3rem;
  }

  .landing-section-content img {
    height: 450px;
  }

  .landing-section-content h5 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  /* Motto Section */
  #motto {
    min-height: 50dvh;
    padding: 0 10rem;
  }

  #motto p {
    line-height: 3rem;
    padding: 0 6rem;
  }
  .benefit-content .p-services {
    padding: 0;
    font-size: 1.3rem;
  }
  #our-services > header > h1 {
    padding: 3rem 0;
    font-size: 2rem;
  }
  .benefit-section-landing {
    max-height: 50vh;
  }
  .image-transparency {
    opacity: 1;
  }
  .benefit-content .h3-services {
    font-size: 2.5rem;
  }

  /* Container for each service item */
  .service-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  /* Service image styling */
  .service-image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  /* Overlay text styling */
  .service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0); /* Initial background */
    color: var(--white); /* Color stone for the text */
    opacity: 0; /* Start hidden */
    transition: background-color 0.5s ease, opacity 1s ease;
    text-align: center;
    padding: 20px; /* Optional: adjust for better positioning */
  }

  /* Header font-size increase within overlay */
  .service-overlay p {
    font-size: 1.5rem; /* Adjust as needed */
    padding: 0;
    margin: 0;
    text-align: center;
    width: 75%;
  }

  /* Show overlay on hover */
  .service-item:hover .service-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Darken background */
    opacity: 1; /* Reveal overlay */
  }

  /* Image effect on hover */
  .service-item:hover .service-image {
    transform: scale(1.1); /* Zoom in */
    opacity: 0.5; /* Reduce image opacity */
  }

  /* No-Booking Section */
  .no-booking-section h5 {
    padding-top: 3rem;
    font-size: 2rem;
  }

  /* IG Section */
  #ig-section {
    min-width: 100dvw;
  }
  .instagram-feed {
    min-width: 80%;
  }
  #ig-section h4 {
    font-size: 1.5rem;
    padding-top: 3rem;
  }

  /* Maps Section */
  .maps-section h4 {
    font-size: 1.3rem;
    padding-top: 3.5rem;
  }
}
