/* MOBILE-FIRST STYLING */

/* General FAQ Page Styling */
.faq-page {
  padding: 2rem 0;
  margin-bottom: 5rem;
}

/* Header Styling */
.faq-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  margin: 2rem 2rem 0 2rem;
}

.faq-header h1 {
  font-size: 1.4rem;
  color: var(--off-black);
  margin-top: 2.5rem;
  width: 50%;
  padding-top: 2rem;
}

.faq-header-h2 {
  text-align: center;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
}
.faq-header-h2 h2{
  font-size: 2.5rem;
}

/* FAQ List Styling */
.faq-list {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

/* FAQ Item Styling */
.faq-item {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid var(--off-black);
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item.active {
  background-color: rgba(255, 255, 255, 1);
}

.faq-item h3 {
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

/* Arrow Styling */
.arrow {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

/* Answer Section */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  padding-right: 1rem;
}

.faq-item.active .faq-answer {
  max-height: 650px;
  opacity: 1;
}

.faq-answer p {
  font-size: 1rem;
  margin: 0.5rem 0;
  line-height: 1.5;
  color: var(--off-black);
}

.faq-answer ul {
  padding-left: 1.2rem;
  margin: 0.5rem 0;
}

.faq-answer li {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--off-black);
  list-style: disc;
}

/* DESKTOP STYLING */

@media (min-width: 1025px) {
  /* General FAQ Page */
  .faq-page {
    padding: 3rem 2rem;
  }

  .faq-header {
    background-size: cover;
    padding: 4rem 0 1rem 0;
  }

  .faq-header h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .faq-header-h2 {
    margin: 2rem 0;
  }
  .faq-header-h2 h2 {
    font-size: 3rem;
  }

  /* FAQ List Styling */
  .faq-list {
    width: 80%;
  }

  /* FAQ Item */
  .faq-item h3 {
    font-size: 1.25rem;
  }

  /* Answer Content */
  .faq-answer p,
  .faq-answer li {
    font-size: 1.2rem;
  }
}
